#
# Copyright (C) 2025 Levi Zim
#
# SPDX-License-Identifier: GPL-3.0-Only
#

service pfa-firstboot /system/bin/pfa-firstboot
    seclabel u:r:pfa:s0
    class main
    user root
    group root
    oneshot
    on post-fs-data
